# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
*.directory

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Temporary & Log files
*.log
*.tmp
scratch/
node_modules/
